
  <div class="mt-4  text-center ">
    <img src="./assets/images/hichampicture.png" draggable="false" class="img-fluid profilImage" alt="" >
    <h4 class="mt-2 fw-bold">Hicham Taib</h4>
    <p class="fw-bold fs-4 status">Software Engineer Student</p>
  </div>
  <div class="profil-description text-center">
    <p class="fs-5">
      I am Hicham Taib software engineer student, I am from Morocco. who specializes in creating dynamic and beautiful web sites. I have been in the field for nearly 3 years and have been loving every minute of it.
    </p>
    <img class="" draggable="false" src="https://see.fontimg.com/api/renderfont4/w13o6/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/SGljaGFtIFRhaWI/brotherside-signature.png" alt="Signature fonts">
  </div>
  <div id="profil-contact" class="text-center pt-4" >
    <h5  class="fw-bold mb-3">KEEP IN TOUCH</h5>
    <div id="social-media " class="d-flex justify-content-evenly mb-5"  >
      <a class="fs-2" draggable="false" href="https://ma.linkedin.com/in/hicham-taib-87b416214?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
      <a draggable="false"  href="https://github.com/hicham2000" target="_blank" class="fs-2"><fa-icon [icon]="faGithub"></fa-icon></a>
      <a draggable="false" href="https://www.facebook.com/hicham.taib.75/" target="_blank" class="fs-2"><fa-icon [icon]="faSquareFacebook"></fa-icon></a>
      <a draggable="false" href="+212600148141" target="_blank" class="fs-2"><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a>
      <a draggable="false" href="mailto:taibhichamtaib@gmail.com" class="fs-2" target="_blank"><fa-icon [icon]="faSquareEnvelope"></fa-icon></a>
    </div>
  </div>


