
  <div class="mt-4  text-center profil">
    <img src="./assets/images/hichampicture.png" class="img-fluid profilImage" alt="" >
    <h4 class="mt-2">Hicham Taib</h4>
    <p>Software Engineer Student</p>
  </div>
  <div class="profil-description text-center">
    <p class="fs-5">
      I am Hicham Taib software engineer student, I am from Morocco. who specializes in creating dynamic and beautiful web sites. I have been in the field for nearly 3 years and have been loving every minute of it.
    </p>
    <img class="" src="https://see.fontimg.com/api/renderfont4/w13o6/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/SGljaGFtIFRhaWI/brotherside-signature.png" alt="Signature fonts">
  </div>
  <div id="profil-contact" class="text-center pt-4" >
    <h5  >KEEP IN TOUCH</h5>
    <div id="social-media " class="pb-5"  >
      <a href="https://ma.linkedin.com/in/hicham-taib-87b416214?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><i class="fa-brands fa-linkedin fs-1 p-2  second-color"></i></a>
      <a href="https://github.com/hicham2000" target="_blank" class=""><i class="fa-brands fa-github-square fs-1 p-2  second-color"></i></a>
      <a href="https://www.facebook.com/hicham.taib.75/" target="_blank" class=""><i class="fa-brands fa-facebook-square fs-1 p-2  second-color"></i></a>
      <a href="#" target="_blank" class=""><i class="fa-brands fa-whatsapp-square fs-1 p-2  second-color"></i></a>
      <a href="mailto:taibhicham8@gmail.com" class="" target="_blank"><i class="fa-solid fa-square-envelope fs-1 p-2  second-color"></i></a>
    </div>
  </div>

