<nav class="navbar navbar-expand-lg   ">
  <div class="container-fluid">
    <div class="navbar-brand">

      <a href="#" id="logo"><img class="ms-3 logo" src="./assets/images/letter-h (2).png"  alt=""></a>
    </div>

    <button id="btn-col" class="navbar-toggler custom-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end  " id="navbarNavAltMarkup">
      <div class="navbar-nav nav-liste ">
        <a id="home" class="nav-link mt-4 fs-4 pe-5 hi  second-color active " aria-current="page"  href="#">HOME</a>
        <a id="skills" class="nav-link mt-4 fs-4 pe-5 hi " >SKILLS</a>
        <a id="portfolio" class="nav-link mt-4 fs-4 pe-5 hi" >PORTFOLIO</a>
        <a id="offers" class="nav-link mt-4 fs-4 pe-5 hi" >CERTIFICATE</a>
        <a id="contact" class="nav-link mt-4 fs-4 pe-5 hi " >CONTACT</a>
        <a class="nav-link mt-4 fs-4 pe-4 ps-4 rounded-pill me-5 langue hi "  style="pointer-events: none"><i class="fa-solid fa-globe "></i> Francais</a>
        
      </div>
    </div>
  </div>
</nav>


