<div class="container-fluid">
  <div class="navbar navbar-expand-lg ">
    <a draggable="false" class="navbar-brand" routerLink="/Home" id="logo"><img draggable="false" class="ms-3 logo"
                                                                                src="./assets/images/letter-h (2).png"
                                                                                alt=""></a>
    <!--    <button id="btn-col" class="navbar-toggler custom-toggler" (click)="onclick()"-->
        <button id="btn-col" class="navbar-toggler custom-toggler" appDrop [header]="header"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="true"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div id="header" class="collapse navbar-collapse " #header>

        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item pe-4 ps-4"><a draggable="false" class="nav-link fs-5 fw-bold" routerLink="/Home"
                                            routerLinkActive="orange">HOME</a></li>
          <li class="nav-item pe-4 ps-4"><a draggable="false" class="nav-link fs-5 fw-bold" routerLink="/Skills"
                                            routerLinkActive="orange">SKILLS</a></li>
          <li class="nav-item pe-4 ps-4"><a draggable="false" class="nav-link fs-5 fw-bold" routerLink="/Portfolio"
                                            routerLinkActive="orange">PORTFOLIO</a></li>
          <li class="nav-item pe-4 ps-4"><a draggable="false" class="nav-link fs-5 fw-bold" routerLink="/Certificate"
                                            routerLinkActive="orange">CERTIFICATE</a></li>
          <li class="nav-item pe-4 ps-4"><a draggable="false" class="nav-link fs-5 fw-bold" routerLink="/Contact"
                                            routerLinkActive="orange">CONTACT</a></li>
          <li class="nav-item pe-4 ps-2 rounded-pill  CustumeBorder"><a draggable="false" class="nav-link fs-5 fw-bold"><span
            class="pe-2 ps-2">
<!--          <i class="fa fa-lg fa-globe" aria-hidden="true"></i>-->
          <fa-icon [icon]="faEarthAfrica"></fa-icon>
        </span>FRANCAIS</a>
          </li>
        </ul>
      </div>

    </div>
  </div>


