<div class="d-flex vh-100 justify-content-center align-items-center  vh-100  ">
  <ul class="navbar-nav  position-fixed mb-5">
    <a draggable="false" routerLink="/Home" routerLinkActive="orange"><li class="nav-item" ></li></a>
    <a draggable="false" routerLink="/Skills" routerLinkActive="orange"><li class="nav-item "   ></li> </a>
    <a draggable="false" routerLink="/Portfolio" routerLinkActive="orange"><li class="nav-item "  ></li> </a>
    <a draggable="false" routerLink="/Certificate" routerLinkActive="orange"><li class="nav-item "  ></li> </a>
    <a routerLink="/Contact" draggable="false" routerLinkActive="orange"><li class="nav-item "  > </li> </a>
  </ul>
</div>
