<div class="d-flex justify-content-around flex-wrap w-100">
  <div class="card mb-5 " style="width: 23rem;">

    <img draggable="false" src="./assets/images/9lJSUcFYeeOLGeVCvErQyupwgBHbHsKqvfgdb2xnCN8=.png" class="card-img-top " height="300rem" alt="Wild Landscape"/>


    <div class="card-body d-flex justify-content-end">
      <a draggable="false" target="_blank" href="https://www.cloudskillsboost.google/public_profiles/d98c5d6a-1b0c-480e-9685-2714be74e595/badges/2975966" class="hi btn fw-bold">Details   <fa-icon [icon]="faArrowsLeftRightToLine"></fa-icon></a>
    </div>
  </div>



  <div class="card mb-5 " style="width: 23rem;">

    <img draggable="false" src="./assets/images/bn3X3Y3rVZT6kQP41qoGm_oHxKWxezmhyXowIZ1ColQ=.png" class="card-img-top " height="300rem" alt="Wild Landscape"/>


    <div class="card-body d-flex justify-content-end">
      <a draggable="false" target="_blank" href="https://www.cloudskillsboost.google/public_profiles/d98c5d6a-1b0c-480e-9685-2714be74e595/badges/2710664" class="hi btn fw-bold">Details   <fa-icon [icon]="faArrowsLeftRightToLine"></fa-icon></a>
    </div>
  </div>
  <div class="card mb-5 " style="width: 23rem;">

    <img draggable="false" src="./assets/images/integrate.png" class="card-img-top " height="300rem" alt="Wild Landscape"/>


    <div class="card-body d-flex justify-content-end">
      <a draggable="false" draggable="false" target="_blank" href="https://www.cloudskillsboost.google/public_profiles/d98c5d6a-1b0c-480e-9685-2714be74e595/badges/2654705" class="hi btn fw-bold">Details   <fa-icon [icon]="faArrowsLeftRightToLine"></fa-icon></a>
    </div>
  </div>
  <div class="card mb-5 " style="width: 23rem;">
    <img draggable="false" src="./assets/images/createML.png" class="card-img-top" height="300rem" alt="Wild Landscape"/>
    <div class="card-body d-flex justify-content-end">
      <a draggable="false" target="_blank" href="https://www.cloudskillsboost.google/public_profiles/d98c5d6a-1b0c-480e-9685-2714be74e595/badges/2652183" class="hi btn fw-bold">Details   <fa-icon [icon]="faArrowsLeftRightToLine"></fa-icon></a>
    </div>
  </div>
  <div class="card mb-5 " style="width: 23rem;">
    <img draggable="false" src="./assets/images/MLAPIs.png" class="card-img-top" height="300rem" alt="Wild Landscape"/>
    <div class="card-body d-flex justify-content-end">
      <a draggable="false" target="_blank" href="https://www.cloudskillsboost.google/public_profiles/d98c5d6a-1b0c-480e-9685-2714be74e595/badges/2649413" class="hi btn fw-bold">Details   <fa-icon [icon]="faArrowsLeftRightToLine"></fa-icon></a>
    </div>
  </div>
</div>
