<div class="skills">
  <p class="m-auto text-center  fw-bold fs-5">To building websites and web applications I use modern technologies and techniques with best practices to make who visite my websites satisfied 100% with the result...</p>
  <div class="d-flex  align-items-center justify-content-center  flex-wrap">
    <div class="p-3"  >
      <img  src="./assets/images/html.png"   alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/css.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/js.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/TypeScript.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/jquery.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/ajax.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/react.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/Angular.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/php.png" alt="">
    </div>

    <div class="p-3">
      <img src="./assets/images/laravel1.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/mysql.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/wordpress.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/git.png" alt="">
    </div>
    <div class="p-3">
      <img src="./assets/images/github.png" alt="">
    </div>

  </div>

</div>
