<div class="d-flex justify-content-evenly  flex-wrap w-100">

  <div class="card card-taille mt-5"  >
    <img draggable="false" src="./assets/images/Screenshot_1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 1rem;">AeRoom</h5>
      <p class="card-text " style="font-size: 0.8rem;">Mega Hackathon Orange project "Laravel application pour la dashbording des données ...</p>
      <div class="row d-flex justify-content-center">
        <a draggable="false" href="https://github.com/hicham2000/AeRoom" target="_blank"  class="btn btn-success col-12 w-75 mb-3" ><span style="font-size: 0.8rem;">LIVE PREVIEW</span></a>
        <a draggable="false" href="https://github.com/hicham2000/AeRoom"  target="_blank"  class="btn btn-primary col-12 w-75" >Rapport</a>
      </div>

    </div>
  </div>
  <div class="card card-taille mt-5"  >
    <img draggable="false" src="./assets/images/Capture d’écran 2022-08-23 141018.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 1rem;">Courrier</h5>
      <p class="card-text " style="font-size: 0.8rem;">Web application created with laravel V8 for mail management "Stage D'initiation"</p>
      <div class="row d-flex justify-content-center">
        <a draggable="false" href="#" target="_blank"  class="btn btn-success col-12 w-75 mb-3" ><span style="font-size: 0.8rem;">LIVE PREVIEW</span></a>
        <a draggable="false" href="./assets/resume/Rapport de stage.pdf" target="_blank"  class="btn btn-primary col-12 w-75" >Rapport</a>
      </div>

    </div>
  </div>
  <div class="card card-taille mt-5"  >
    <img draggable="false" src="./assets/images/PizzaSysteme-Laravel.jpg"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 1rem;">Hello-Pizza</h5>
      <p class="card-text " style="font-size: 0.8rem;">Web application created with laravel V8 for restaurant management</p>
      <div class="row d-flex justify-content-center">
        <a draggable="false" href="http://pizzasysteme.hichamtaib.me/" target="_blank"  class="btn btn-success col-12 w-75 mb-3" ><span style="font-size: 0.8rem;">LIVE PREVIEW</span></a>
        <a draggable="false" href="./assets/resume/User-Guide.pdf" target="_blank"  class="btn btn-primary col-12 w-75" >USER GUIDE</a>
      </div>

    </div>
  </div>




</div>
