<div >
  <h1 class="">I BUILD BEAUTIFUL MODERN WEBSITES</h1>
  <h3 class="fs-4 ">I'm Hicham Taib | Software Engineer Student</h3>
  <p class="fs-5 w-100">As a Software Engineer developer, I've found that many people enjoy my design style and high quality of work.</p>
  <div class="d-flex  flex-column flex-sm-row" >
    <button class="fiverr"><a href="Resume/Hicham taib.pdf" target="_blank" >Download My Resume</a></button>
    <button class="btn-contact"><a href="#" id="contactMe" >
      <i class="fas fa-envelope-square "></i>
      CONTACT ME</a></button>
  </div>

</div>
