<div class="mt-4" id="home">
  <h1 class="">I BUILD BEAUTIFUL MODERN WEBSITES</h1>
  <h3 class=" mt-4">I'm Hicham Taib | Software Engineer Student</h3>
  <p class="fs-5 mt-4 mb-4 w-100">As a Software Engineer developer, I've found that many people enjoy my design style and high quality of work.</p>
  <div class="d-flex  flex-column flex-sm-row" >
    <button class="Resume rounded-pill pt-2 pb-2 ps-4 pe-4 fs-5 me-5"><a href="Resume/Hicham taib.pdf" target="_blank" >Download My Resume</a></button>
    <button class="contact fs-5"><a href="#" id="contactMe" >
      <i class="fa fa-envelope-open" aria-hidden="true"></i>
      CONTACT ME</a></button>
  </div>

</div>
